
<!DOCTYPE html>
<html>
<head>
	<title>BleauTech</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container" style="display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;">

		<div class="none" style="text-align: center;
    font-family: 'Slabo 27px', serif;
    font-size: 1.2em; border: 1px solid lightblue;
    border-radius: 10px;
    padding: 30px;">
    <!-- <img src='Bleau logo 1.png' alt="logo" /> -->
    <br>
			<h2>{{subject}}</h2>
			<p><em>from <b>{{name}}</b> with email <b>{{email}}</b></em></p>
			<br>
			<p><b>message : </b>{{massage}}</p>
			<br>
			<div>
				<a class="btn btn-lg btn-outline-primary" href="http://www.bleautech.org/">Go to site</a>
			</div>
		</div>
		
		
		

	</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>


