{%extends 'base/base.html'%}
{%load static%}

{%block title%}
Services
{%endblock%}


{%block content%}

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-sm-6">
                  <div class="breadcrumb_tittle">
                      <p>home . services</p>
                      <h2>services</h2>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- breadcrumb start-->

  <!-- our_service start-->
  <section class="our_service">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>01</span>
              <h4>
                Branding and Identity Design
              </h4>
              <p>
               We give your brand an image that potrays the services you offer by collecting of all elements that a company creates to portray the right image
               to your customers.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>02</span>
              <h4>Software Development</h4>
              <p>
                Our developers has are experts in creating and supporting professional, innovative and highly usable softwares they do this by
                working closely with your team to ensure that a powerful and scalable software applications is delivered.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>03</span>
              <h4>Digital Marketing</h4>
              <p> Helping you connect with the right customers through a wide range of digital
                channels such as social media, Email Marketing, and Search Engine Optimization, we work to increase
                your brand’s online presence in a meaningful way.
              </p>
              <ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>04</span>
              <h4>
                UI/UX Designs
              </h4>
              <p>
                As a user centered company to we apply innovative design thinking to make
                experiences consistent yet personalized and capture intuitiveness, user-friendliness and
                engagement in each and every digital asset delivered through User Research & Design Strategies.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>05</span>
              <h4>Data Analytics</h4>
              <p>
                We apply algorithms and mechanical process to derive insights in
                examining our clients raw data to conclude that information and make it easily understandable.
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl-4">
          <div class="single_feature">
            <div class="single_service">
              <span>06</span>
              <h4>Content Strategy</h4>
              <p>Content they say is king, as an enstablishment we've made it our goal to give your company their 
                voice through our content writing abilities.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our_service part end-->


  <!--::review_part end::-->
  <div class="review_part padding_bottom" id="testimonial">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-lg-7">
          <div class="section_tittle text-center">
            <p>Past Clients</p>
            <h3>Clients We've worked For</h3>
          </div>
          </div>
    </div>
  </div>
  <!--::review_part end::-->
   <!--::client logo part end::-->
   <section class="client_logo">
    <div class="container">
      <div class="row align-items-center">
        
        <div class="col-lg-12">
          <div
            class="client_logo_slider owl-carousel d-flex justify-content-between">
            <div class="single_client_logo">
              <img src="static/img/logo/Logo1.png" alt="" />
            </div>
            <div class="single_client_logo">
              <img src="static/img/logo/Logo2.png" alt="" />
            </div>
            <div class="single_client_logo">
              <img src="static/img/logo/Logo3.png" alt="" />
            </div>
            <div class="single_client_logo">
              <img src="static/img/logo/Logo4.png" alt="" />
            </div>
            <div class="single_client_logo">
              <img src="static/img/logo/Logo5.png" alt="" />
            </div>
            <div class="single_client_logo">
              <img src="static/img/logo/Logo6.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--::client logo part end::-->
  <!--::cta_part start::-->
  <div class="cta_part">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="cta_iner">
            <p>Have we convinced you yet?</p>
            <h1>Let’s create something awesome together</h1>
            <a href="contact.html" class="btn_1">Discuss project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--::cta_part end::-->

    {%endblock%}